body {
    background-image: url('http://cdn.wallpapersafari.com/38/72/l2QW79.png');
}

form {
    height: 100%;
}


.contact label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    margin-top: 20px;
}
.contact input {
    margin-top: 20px;
    display: inline-block;
    float: left;
}

.contact textarea {
    margin-top: 20px;
    display: inline-block;
    float: left;
}

.form-group {
    height: 30px;
}

.slider {
    margin: 0 auto;
    width: 601px;
    height: 301px;
}

.container {
    margin: 0 auto;
    width: 600px;
    height: 300px;
}



.item img{
    margin: 0 auto;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 600px;
    height: 300px;
}

.menu {
    margin: 0 auto;
    width: 570px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

h1 {
    text-align: center;
}

.form {
    height: 550px;
}

footer{
    margin-top: 0px;
    background:#ccc;
    position:absolute;
    width:100%;
    padding-top:50px;
    height:50px;
}

body > .container {
    padding-top: 60px;
}

.footer {
    margin-top: 0px;
    max-height: 315px;
    height: 100%;
    background-color: lightgrey;
}

.tiny-contact {
    float: left;
    width: 25%;
    margin-left: 100px;
}

.tiny-contact h2 {
    font-size: medium;
    font-weight: bold;
}

.tiny-contact-list {
    font-size: 13px;
}
.certif {
    float: none;
}

.certif img {
    width: 250px;
    height: 150px;
}

.bold {
    font-weight: bold;
    font-size: 120%;
}

.banner {
    width: 100%;
    height: 252px;
    background-image: url('../img/header_banner.png');
    background-position: center;
    background-repeat: no-repeat;
}

.list-content {
    top: 20px;
}

.list-item {
    float: left;
    position: relative;
    width: 16%;
    background-color: #DEDEDE;
    margin: 0 6px 10px 6px;
}

.list-name {
    font-size: 140%;
}

.list-item:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.list-body{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    vertical-align: center;
    padding: 30px;
}

.user-icon {
    width: 53%;
    height: 70%;
    margin: auto;
    border-radius: 50%;
}

.acc-user-icon {
    width: 160px;
    height: 160px;
    margin: auto;
    border-radius: 160px;
}

.mini-user-icon {
    width: 45px;
    height: 45px;
    margin: auto;
    border-radius: 45px;
}

.header {
    display: inline-block;
}

.item {
    margin-left: 3%;
    margin-right: 3%;
    border: 1px solid;
    background-color: white;
}

.item-check, .header-item-check {
    min-width: 5%;
}

.item-name, .header-item-name {
    display: inline-block;
    min-width: 10%;
    width: 200px;
    font-size: 120%;
}

.header-item-img {
    display: inline-block;
    width: 280px;
}

.item-img {
    display: inline-block;
    width: 280px;
    height: 280px;
}

.item-img img {
    width: 280px;
    height: 280px;
}

.item-desc, .header-item-desc {
    display: inline-block;
    min-width: 10%;
    width: 400px;
}

.item-cost, .header-item-cost {
    display: inline-block;
    min-width: 10%;
    width: 100px;
}

.item-taken, .header-item-taken {
    display: inline-block;
    min-width: 10%;
    width: 100px;
}

.item-comment, .header-item-comment {
    display: inline-block;
    min-width: 10%;
    width: 100px;
}

.item-disabled {
    background-color: lightgray;
}

.action-box {
    text-align: center;
}

.my-btn {
    position: relative;
    top: 60px;
}

.btn-hidden {
    visibility: hidden;
}

    
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 75px;
    cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    left:0; top: -3px;
    width: 75px; height: 30px;
    background: #DDDDDD;
    border-radius: 15px;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    width: 20px; height: 20px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    border-radius: 50%;
    background: #7F8C9A;
    top: 2px; left: 5px;
}

/* aspect désactivée */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
/* styles de la coche (si cochée/désactivée) */
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
/* on style aussi le label quand désactivé */
[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* on checked */
[type="checkbox"]:checked + label:before {
    background:#34495E; 
}
[type="checkbox"]:checked + label:after {
    background: #39D2B4;
    top: 2px; left: 50px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: 6px;
    width: 65px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
[type="checkbox"].item-check:not(:checked) + label .ui:before {
    content: "dispo";
    left: 32px
}
[type="checkbox"].item-check:checked + label .ui:after {
    content: "pris";
    color: #39D2B4;
}
[type="checkbox"].participant:not(:checked) + label .ui:before {
    content: "non";
    left: 32px
}
[type="checkbox"].participant:checked + label .ui:after {
    content: "oui";
    color: #39D2B4;
}
[type="checkbox"]:focus + label:before {
    border: 1px dashed #777;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -1px;
}

.log-infos {
    width: 400px;
    margin: 0 auto;
}

.log-infos-label {
    float: left;
}

.log-infos-input {
    float: right;
}

.user-infos {
    width: 400px;
    margin: 0 auto;
}

.user-infos-label {
    float: left;
}

.user-infos-input {
    float: right;
}

.user-row {
    margin: 10 5 10 5;
}

.rounded-input {
    border-radius: 10px;
}

.user-action-box {
    position: absolute;
    bottom: 40%;
    left: 35%;
}

.navbar {
    height: 50px;
}

.container {
    width: 544px;
    height: 50px;
}

.infos-block {
    display: inline-block;
    width: 45%;
}

.infos-block input {
    float: right;
}

.infos-block label {
    float: left;
}

.my-item-desc {
    display: inline-block;
}

.my-item-cost {
    display: inline-block;
}

.long-input {
    width: 90%;
}

.hidden-btn {
    display: none;
}

@import http://fonts.googleapis.com/css?family=Raleway;
/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
#log-main {
    width:300px;
    height:200px;
    margin: auto;
    font-family:raleway
}
#error {
    color:red
}
#log {
    width:300px;
    float:left;
    border-radius:10px;
    font-family:raleway;
    border:2px solid #ccc;
    padding:10px 40px 25px;
    margin-top:30%
}
#log-login, #log-pwd {
    width:99.5%;
    padding:10px;
    margin-top:8px;
    border:1px solid #ccc;
    padding-left:5px;
    font-size:16px;
    font-family:raleway
}
#log-submit {
    width:100%;
    background-color:#FFBC00;
    color:#fff;
    border:2px solid #FFCB00;
    padding:10px;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
    margin-bottom:15px
}

#chat-body {
    border-collapse:collapse;
    background-color:grey;
    margin:auto;
    width:50%;
    border-radius:10px;
    overflow:hidden;
}
  
#chat-form {
    height:100px;
    padding:2%;
    background-color:silver;
}
 
#chat-display {
    width:95%;
    height:100%;
    background-color:white;
    margin:auto;
    overflow-y:scroll;
}
 
#chat-form-table {
    width:100%;
    border-collapse:collapse;
    text-align:center;
}

#chat-message {
    border-radius:10px;
    padding:2%;
    width:100%;
}
#chat-submit {
    width:100%;
    padding:2%;
    border-radius:10px;
    font-family:raleway;
    font-size:medium;
}
 
#table_message {
    width:100%;
    font-size:small;
    font-family:raleway;
    border-collapse:collapse;
    table-layout:fixed;
}
 
.info_message {
    overflow:hidden;
    font-size:x-small;
    padding:1%;
}

.message {
    width:80%;
    x-overflow:hidden;
    y-overflow:visible;
    text-align:left;
    padding:1%;
}

.message2 {
    width:100%;
    overflow:hidden;
    word-break: break-all;
}